body {
    background-color:#000;
    color: white;
    font-family: monospace;
    -webkit-font-feature-settings: "zero" on;
    -moz-font-feature-settings: "zero" on;
    -ms-font-feature-settings: "zero" on;
    font-feature-settings: "zero" on;
}

body::after {
    content: "";
    background: no-repeat center/40% url("logo-mini.png");
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

div {
    font-size: 900%;
    -webkit-text-stroke: 1.5px rgb(103, 172, 86);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 60px;
    height: 140px;
}


span {
    color: rgb(21, 133, 197);
    font-size: 130%;
    position: relative;
    float: left;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -40%);
}

#logo {

}
