body {
    background-color:#000;
    color: #34b5fe;
    font-family: monospace;
    -webkit-font-feature-settings: "zero" on;
    -moz-font-feature-settings: "zero" on;
    -ms-font-feature-settings: "zero" on;
    font-feature-settings: "zero" on;
}

body::after {
    content: "";
    background: no-repeat center/40% url("https://nano.org/assets/img/logo-white.svg");
    opacity: 0.8;
    top: 100;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

div {
    font-size: 900%;
    -webkit-text-stroke: 1.5px rgb(72, 134, 240);
    position: absolute;
    top: -200;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 65px;
    height: 140px;
}


span {
    color: rgb(21, 133, 197);
    font-size: 130%;
    position: relative;
    float: left;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -40%);
}

#logo {

}
